<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="wrapper">
        <div style="text-align: center;">
            <p class="right_title">Langland</p>
            <p class="right_subtitle">Crie sua conta e comece a usar o blog</p>
        </div>
        <form method="post" autocomplete="on" class="right_form">

            <section class="right_form_section">

                <label for="name" class="label">Nome:</label><br>
                <input type="text" id="username" name="username" placeholder="Nome" class="input" required><br>

            </section>

            <section class="right_form_section">
                <label for="email" class="label">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="Email" class="input" required><br>
            </section>

            <section class="right_form_section">
                <label for="senha" class="label">Senha:</label><br>
                <input type="password" id="senha" name="senha" placeholder="Senha" class="input" required><br>
            </section>

            <nav class="wrapper-v2">
                <span><a href="/"><input type="submit" value="CONTINUAR" class="btn"></a></span>
            </nav>
        </form>

        <div style="text-align: center;">

            <p class="right_text">Já tem uma conta?</p>
            <span class="right_text">
                <a href="login">
                    <p>Faça login</p>
                </a>
            </span>

        </div>

</body>

</html>