<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Langland</title>
</head>
<body>
    <header>

        <h1>Langland</h1>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="contato">Contato</a></li>
                <li><a href="conteudos">Conteúdos</a></li>
                <li><a href="cadastro">Cadastro</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>
<main>
    <h2>Conteúdos do Blog</h2>
    <ul>
        <li>Artigos de linguistas</li> <br>
        <li>Curiosidades linguísticas</li> <br>
        <li>Entrevistas com poliglotas</li> <br>
        <li>Dicas para aprender um novo idioma</li> <br>
        <li>Aplicativos de aprendizado de idiomas</li> <br>
        <li>História dos idiomas</li> <br>
        <li>Gramática, fonética, sintáxe...</li>
    </ul>
</main>

    <footer>
        <p>&copy; 2024 Andrey. Todos os direitos reservados.</p>
    </footer>
    
    </body>