<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Langland</title>
</head>
<body>
    <header>


        <h1>Langland</h1>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="contato">Contato</a></li>
                <li><a href="conteudos">Conteúdos</a></li>
                <li><a href="cadastro">Cadastro</a></li>
                <li><a href="login">Login</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
    <article>
        <h2>Entre em contato conosco</h2>
        <p>
            Telefone: +55 (11) 83232-6737
            <br>
            E-mail: langland.AB@worldwide.com
            <br>
            Redes Sociais: @langland.AB</p>
    </article>
</main>

    <footer>
        <p>&copy; 2024 Andrey. Todos os direitos reservados.</p>
    </footer>
    
</body>
</html>