<!DOCTYPE html>
<html lang="pt-br">
    <body>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="login.css">
            <title>Login</title>
        </head>
        <header>
            <h1>Langland</h1>
        </header>
        
        <body>
            <div class="login-container">
                <h2>Login</h2>
                <form class="login-form" action="home" method="post"></form>
                <form class="login-form">
                    <input type="text" placeholder="Usuário" required>
                    <input type="email" placeholder="E-mail" required>
                    <input type="password" placeholder="Senha" required>
                    <button type="submit">Entrar</button>
                </form>
            </div>

            <div class="batom">
                <p >Ainda não tem uma conta?</p>
                <span>
                    <a class="btn" href="/cadastro">
                        <p>Cadastre-se</p>
                    </a>
                </span>
            </div>
        </body>
</body>
</html>