<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Langland</title>
</head>
<body>
    <header>

        <h1>Langland</h1>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="contato">Contato</a></li>
                <li><a href="conteudos">Conteúdos</a></li>
                <li><a href="cadastro">Cadastro</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Sobre o Blog</h2>
            <p>O Langland é um site dedicado à diversidade dos idiomas humanos pelo mundo, onde se explora as nuances, histórias e peculiaridades que tornam as línguas uma expressão única da cultura e da comunicação. 
                <br>
                Cada língua é um portal para compreender a sociedade, a história e a identidade de um povo. 
                <br>
                Aqui mostramos como as línguas moldam e refletem as culturas que as abraçam. &#128513;</p>
        </article>
        
        <article>
            <h2>Sobre o criador</h2>
            <p>Sou o Andrey, um garoto de 16 anos (diga-se 17), sou estudante de programação no SENAI e fiz este blog para mostrar um pouco do meu interesse por linguística.
                <br>
                Atualmente moro em Sumaré, mas não pretendo continuar aqui por muito tempo. &#128522;
            </p>
        </article>

    </main>

    <footer>
        <p>&copy; 2024 Andrey. Todos os direitos reservados.</p>
    </footer>

<body>
    
</body>
</html>