body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #537fde;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1em;
}

nav a {
    color: #9db4e2;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
}

article {
    margin-bottom: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.andrey {
    background-image: url(Human_Language_Families_\(wikicolors\).png);
    min-width: 1339px;
    min-height: 716px;
    left: 161px;
    position: absolute;
    margin-top: 531px;
}

