<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="cadastro.css">
</head>

<header>
<h1>Langland</h1>
</header>

<nav>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="sobre">Sobre</a></li>
        <li><a href="contato">Contato</a></li>
        <li><a href="/postagens">Postagens</a></li>
        <li><a href="cadastro">Cadastro</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</nav>


<body>
    <div class="wrapper">
        <div class="texto-crie">
            <p class="right_title">Crie sua conta e comece a usar o blog</p>
        </div>
        <form method="post" autocomplete="on" class="right_form">
<div class="cadastro-container">
            <section class="right_form_section">

                <label for="name" class="label">Nome:</label><br>
                <input type="text" id="username" name="username" placeholder="Nome" class="input" required><br>

            </section>

            <section class="right_form_section">
                <label for="email" class="label">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="Email" class="input" required><br>
            </section>

            <section class="right_form_section">
                <label for="senha" class="label">Senha:</label><br>
                <input type="password" id="senha" name="senha" placeholder="Senha" class="input" required><br>
            </section>

            <div class="wrapper-v2" >
                <span><a href="/"><input type="submit" value="CONTINUAR" class="btn" style="    background-color: #9db4e2;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;"></a></span>
            </div>
        </form>
        </div>

        <div style="text-align: center;">
        <div class="texto-jatem">
            <p class="right_text">Já tem uma conta?</p>
            <span class="right_text">
                <a href="login">
                    <p>Faça login</p>
                </a>
            </div>
            </span>

        </div>

        <footer>
            <p>&copy; 2024 Andrey. Todos os direitos reservados.</p>
        </footer>

</body>

</html>