<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Langland</title>
</head>
<body>
    <header>

        <div class="andrey">
            <img src="">
    
        </div>

        <h1>Langland</h1>
    </header>

    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="contato">Contato</a></li>
            <li><a href="/postagens">Postagens</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>

    <main>
        <article>
            <h2>A Língua Natural - vulgo O Idioma</h2>
            <p>A Língua natural é qualquer linguagem desenvolvida naturalmente pelo ser humano, de forma não premeditada, como resultado da facilidade inata para a linguagem possuída pelo intelecto humano. Vários exemplos podem ser dados como as línguas faladas e as línguas de sinais. A linguagem natural é normalmente utilizada para a comunicação. As línguas naturais são diferentes das línguas construídas e das línguas formais, tais como a linguística computacional, a língua escrita, a linguagem animal e as linguagens usadas no estudo formal da lógica, especialmente da lógica matemática.</p>
        </article>

        <article>
            <h2>Família de Línguas</h2>
            <p>Uma família linguística é um grupo de línguas rigorosamente identificado e é uma unidade filogenética, isto é, todos os seus membros derivam de um ancestral comum. Este ancestral é geralmente muito pouco conhecido, uma vez que a maior parte das línguas têm uma história escrita muito reduzida. Apesar disso, é possível recuperar muitas das suas características aplicando o método comparativo - um procedimento reconstrutivo desenvolvido no século XIX pelo linguista August Schleicher.</p>
        </article>
    </main>

    


    <footer>
        <p>&copy; 2024 Andrey. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
