body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #2980b9;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cadastro-container{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.texto-crie{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    width: 300px;
    margin: 0 auto;
    text-align: center;   
}

.texto-jatem{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}